h1 {
    font-family: judson, sans-serif;
    color: black;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

p {
    font-family: inter, sans-serif;
    line-height: 1.6;
}

h2 {
    font-family: ;
}
