:root {
    /* Color styles */
--couleur-dominante: rgba(255, 255, 255, 1);
--couleur-secondaire: rgba(217, 217, 217, 1);

/* Text-size styles */
--h1: 70px;
--intertitre: 23px;
--h3: 20px;
--nom: 25px;
--nom-2: 40px;
--nom-3: 50px;
--menu: 30px;
--text: 20px;
--gras: 15px;
--body: 16px;
--body-2: 25px;
--bouton-découvrir: 25px;
--h2: 50px;

}

  