.footer {
   background-color: var(--couleur-secondaire); 
   padding: 5%;
   

}

.footer__text {
    color: var(--black);
    padding: 3%;
    text-align: center;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.footer__logo {
    display: block;
    margin: auto;
    justify-content: space-around;
    height: 70px;
    
}

.footer__item{
    display: flex;
    justify-content: space-around;
}

.footer__item-1{
    text-decoration: none; /* enlève le soulignement */
    background-color: #f2f2f2; /* couleur de fond */
    padding: 10px; /* espace autour du texte à l'intérieur du lien */
    margin: 5px; /* espace autour du lien */
    color: black;
    font-family: 'roboto', sans-serif;
}

.footer__item-2{
    text-decoration: none; /* enlève le soulignement */
    background-color: #f2f2f2; /* couleur de fond */
    padding: 10px; /* espace autour du texte à l'intérieur du lien */
    margin: 5px; /* espace autour du lien */
    color: black;
    font-family: 'roboto', sans-serif;';
}

.footer__item-3{
    text-decoration: none; /* enlève le soulignement */
    background-color: #f2f2f2; /* couleur de fond */
    padding: 10px; /* espace autour du texte à l'intérieur du lien */
    margin: 5px; /* espace autour du lien */
    color: black;
    font-family: 'roboto', sans-serif;
}

    