.footer {
   background-color: var(--couleur-secondaire); 
   padding: var();
}

.footer__text {
    color: var(--black);
    padding: 3%;
    text-align: center;
}

.footer__social {
    display: flex;
    margin: auto;
    
   
}

.footer__logo {
    display: block;
    margin: auto;
    justify-content: space-around;
}

.footer__item{
    display: flex;
    justify-content: space-around;
}



    