.cards{
    padding: 10%;
}

.cards__img{
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.cards__link{
    font-family: Inter;
    font-size: 25px;
    color: #000;
    font-weight: 400;
    line-height: 160%;
    background-color: var(--couleur-secondaire);
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 20px;
    
}

.cards__quote{
    font-family: Inter;
    font-size: 25px;
   
    
    
}
