.infos__title{
    margin-top: 0;
    padding: 5%;
}

.infos__text{
    margin-top: 0;
    padding: 5%;
}

.infos__sous-titre{
    margin top: 0;
    padding: 5%;
}

.infos__link{
    margin-top: 0;
    padding: 5%;
}