.intro{
    padding: 8%;
}

.intro__title{
  margin: 0;   
  padding: 1%;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
}

.intro__title--exposition span {
opacity: 100%;
display: block;
font-size: 30px;
}

.intro__text-1{
color: #ffffff;
opacity: 100%;
}

.intro__img-container{
  padding: 8%;
  background: url(/public/img/arbre-blanc-architecture-montpellier-_1_.webp) no-repeat center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.7;
  
}



  

  